body {
    margin: 1em ;
    overflow: hidden;
    /*background-color: black ;*/
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
}

input[type="text"] {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

#red, input[id^="red"] {
    color: #d00;
}

#green, input[id^="green"] {
    color: #0d0;
}

#blue, input[id^="blue"] {
    color: #00d;
}

div.horizontal {
    display: flex;
    justify-content: center;
}

div.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
